@font-face {
  font-family: 'Cent';
  src: url('../../css/fonts/Cent.eot');
  src: url('../../css/fonts/Cent.eot?iefix') format('eot'),
       url('../../css/fonts/Cent.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham';
  src: url('../../css/fonts/GothamHTF.otf');
  src: url('../../css/fonts/GothamHTF.eot?iefix') format('eot'),
       url('../../css/fonts/GothamHTF.ttf') format('truetype');
}
body{
    font-family: 'Cent';
    position: relative;
}
#header{
    background: #584c2b;
    border-radius: 3px;
    margin-bottom: 1em;
    padding-bottom: 0.7em;
    padding-left: 0.5em;
}
#title{
    font-family: 'Gotham';
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding-left: 0.5em;
}
p{
    padding-left: 0.5em;
}

#description{
    margin-left: 0.5em;
    font-size: 0.9em;
    color: #eee;
    font-family: sans-serif;
}
#canvas{
    border: 1px solid #eee; 
    border-radius: 3px;
    background: white;
    width: 100%;
}
.tmar{
    margin-top: 1em;
}
#field{
    cursor: pointer; 
    border: 1px solid #eee; 
    border-radius: 3px;
    background: white;
}
#rows, #cols, #addLayer, #save, #reset, #canvas{
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
.f-col{
    float: left;
    position: relative;
    background-color: #ffffff;
}
.cube{
    width: 100%;
    height: 100%;
    border: 2px solid #999;
}
.lbl{
    text-align: center;
    color: #999;
}
.save{
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Cent';
    background-color: #6c34c2;
    color: #eee;
}
.save:hover{
    background-color: #666;
    color: #eee;
    opacity: 0.9;
}
#canvas{
    background-image: url("../img/canvas-back.jpg");
    background-repeat: repeat;
}
#footer{
    font-family: sans-serif;
    margin-top: 15px;
    background-color: beige;
    color: #666;
    padding: 15px;
    padding-left: -15px;
    margin-left: 5px;
}

.block-lable{
    background-color: #584c2b;
    border-radius: 3px;
    height: 20px;
    color: #eee;
    text-align: center;
    margin-bottom: 0.5em;
}
.block-itself{
    background-color: black;
    height: 100%;
}

#right-side{
    padding-left: 5px;
    padding-right: 5px;
}


/*  ////////////    MEDIAS      /////////// */
@media(min-width: 180px){ 
    #title{
        font-size: 2em;
    }
    .marl{
        margin-left: 5px;
    }
    #tool-col{
        padding-left: 0;
    }
    #imgInfo{
        font-size: 0.8em;
    }
    #footer span{
        font-size: 0.8em;
    }
}
@media(min-width: 525px){ 
    #tool-col{
        padding-left: 10px;
    }
    #imgInfo{
        font-size: 1em;
    }
    #field{
        padding-left: 4em;
        padding-right: 4em;
    }
}
@media(min-width: 630px){ 
    #title{
        font-size: 3em;
    }
    #tool-col{
        padding-left: 15px;
    }
}
@media(min-width: 668px){ 
    #tool-col{
        padding-left: 25px;
    }    
    #footer span{
        font-size: 1em;
    }
}
@media(min-width: 768px){ 
    #header{
        margin-bottom: 1.7em;
    }
    #field{
        padding-left: 15px;
        padding-right: 15px;
    }
    .save{
        padding-left: 2em;
        padding-right: 2em;
    }
    .marl{
        margin-left: 0;
    }
    #tool-col{
        padding-left: 10px;
    }
    #footer span{
        font-size: 0.9em;
    }
}

@media(min-width: 991px){ 
    #footer span{
        font-size: 1em;
    }
    #tool-col{
        padding-left: 15px;
    }
}

@media(min-width: 1210px){ 

}